@charset "UTF-8";

@font-face {
	font-family: 'Inkqua';
	/* 自定义字体名称 */
	src: url('./font/Inknut_Antiqua/InknutAntiqua-Light.ttf') format('truetype');
	/* TTF 字体文件的路径 */
}

@font-face {
	font-family: 'Mantous';
	/* 自定义字体名称 */
	src: url('./font/MantouSans-Regular.ttf') format('truetype');
	/* TTF 字体文件的路径 */
}

/* 咒語 - 消除所有預設 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		"PingFang TC", "Heiti TC", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

p {
	color: #f2edf0;
}

:root {
	--light_grey: #ccc;
	--grey: #999;
	--deep_grey: #444;
	--major-color: #f2edf0;
	--major-color2: #e6ece5;
	--major-color3: #ecf0f4;
	--lesser-color1: #bf9899;
}


a {
	display: block;
	color: var(--deep_grey);
	text-decoration: none;
}

/* 咒語 - 消除所有預設 */

body {
	background-color: #000;
	font-family: 'Inkqua', sans-serif;
}

a {
	color: #f2edf0;
	transition: color 0.3s ease;
	/* 添加背景色過渡效果 */
}

a:hover {
	color: rgba(255, 255, 255, 0.25);
}

.mantou {
	font-family: 'Mantous', sans-serif;
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 5px;
}

p a {
	color: #f2edf0;
	display: flex;
	margin: -11% 0 7% 85%;
}

.H1 {
	display: flex;
	/* 将 .H1 设置为 Flex 容器 */
	align-items: center;
	/* 沿交叉轴（垂直方向）居中对齐 */
}

.H1 img {
	position: relative;
	left: 80px;
}

.Nav {
	margin-top: 60px;
	margin-left: auto;
}

ul {
	display: flex;
	flex-direction: row;
	color: antiquewhite;
}

li {
	position: relative;
	font-size: 16px;
	height: 120px;
	margin: 40px 60px 0px 60px;
	right: 40px;
}

/* Experience */

h2 {
	color: #f2edf0;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	margin: 10% auto -2% auto;
	padding: 0 0 10vh 0;
	border-bottom: #f2edf0 solid 3px;
	width: 50%;
}

h3 {
	color: #f2edf0;
	font-family: "Mantous", sans-serif;
	font-size: 2rem;
	letter-spacing: 5px;
}

section {
	position: relative;
	margin: 0% auto 10%;
}

/* tilte */

.title {
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin: 0% auto -1%;
	font-weight: 100;
	line-height: 1rem;
}

.title p {
	position: relative;
	margin: 1% 0 0;
}

/* content */

.content {
	display: flex;
	justify-content: flex-start;
	width: 40%;
	margin: 3% auto;
	line-height: 2rem;
	letter-spacing: 2px;
	font-weight: 100x;
}

/* arrow move */
.arrow {
	display: flex;
	width: 2%;
	margin: -5% 0% 0% 71%;
}

.arrow img {
	width: auto;
	/* 設置圖片寬度 */
	transition: margin-left 0.3s ease-in;
	/* 定義過渡效果 */
}

/* 滑鼠懸停時的樣式 */
.arrow:hover img {
	margin-left: 20%;
	/* 改變圖片的左邊距 */
}

/* footer */

footer {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 10% auto 0%;
}

footer img {
	width: 10%;
	height: auto;
}

footer div {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-top: 2%;
	line-height: 1.6rem;
	letter-spacing: 3px;
}


@media screen and (min-width: 320px) and (max-width: 780px) {
	body {
		overflow-x: hidden;
	}

	/* Header */

	.H1 {
		display: flex;
	}

	.H1 a {
		display: flex;
		justify-content: flex-start;
		width: 60%;
	}

	.H1 img {
		position: relative;
		left: 8%;
		width: 60%;
	}

	.Nav ul {
		display: none;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 30;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%);
		/* 背景漸層 */
		height: 100vh;
		width: 100vw;
		left: 0;
		/* 将ul放在H1的下方 */
	}

	.Nav li {
		position: relative;
		font-size: 0.5rem;
		width: 50%;
		margin: 0px 0px 0px 0px;
		right: 0px;
	}


	.Nav li a {
		position: absolute;
		margin: 40% 0px 0px 0px;
		right: 0px;
	}

	/* 顯示漢堡按鈕 */
	.burger-menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 3%;
		right: 6%;
		width: 7%;
		height: auto;
	}

	.burger {
		height: 3px;
		width: 100%;
		background-color: #f2edf0;
		margin-bottom: 25%;
		border-radius: 15%;
	}

	h2 {
		font-size: 2rem;
		margin: 20% auto 10%;
	}

	.talk{
		display: flex;
		flex-direction: column;
	}

	.title{
		flex-direction: column;
	}

	.title h3{
		margin: 10% auto ;
		font-size: 1.5rem;
		line-height: 110%;
	}

	.title p{
		margin: 10%;
	}

	.arrow {
		display: flex;
		width: 2%;
		margin: 5% auto 0% 43%;
	}

	footer {
		flex-direction: column;
		align-items: center;
		font-size: 0.7rem;
	}

	footer img {
		width: 45%;
		margin: 10% auto;
	}

	footer div {
		align-items: center;
		margin-top: 3%;
		line-height: 1.5rem;
		letter-spacing: 1px;
		margin-bottom: 5%;
	}

}